.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-background);
}

.app-layout__main {
  display: flex;
  flex: 1;
  max-width: 100%;
  overflow-x: hidden;
}
